
@{
    ViewData["Title"] = "Team member banner";
    List<TeamMemberBannerViewModel> teamMemberBanners = Model;
}

<div class="section-header">
    <h1>Team member banner</h1>
</div>
<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    @if (teamMemberBanners.Count == 0 || teamMemberBanners == null)
                    {
                    <div class="alert alert-warning">There are no team member banner item yet, please add team member banner item</div>
                    }
                    else
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var teamMemberBanner in teamMemberBanners)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/images/@teamMemberBanner.Image" class="img-fluid rounded-circle mt-3" style="width: 100px; height: 100px;" />
                                        </td>
                                        <td>@teamMemberBanner.Title</td>
                                        <td>
                                            <a asp-action="Detail" asp-route-id="@teamMemberBanner.Id" class="btn btn-success">Detail</a>
                                            <a asp-action="Update" asp-route-id="@teamMemberBanner.Id" class="btn btn-warning">Update</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


