
@{
    ViewData["Title"] = "Company information detail";
    StudioDetailViewModel studioDetail = Model;
}

<div class="section-header">
    <h1>Company information detail</h1>
</div>
<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="container">
                    <div class="detail-content" style="padding-top: 20px; padding-bottom: 20px;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="~/images/@studioDetail.Image" class="img-fluid" />
                                </div>
                                <div class="img-box mt-3">
                                    <img src="~/images/@studioDetail.DetailImage" class="img-fluid" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-item">
                                    <h4>Title:</h4>
                                    <p>@studioDetail.Title</p>
                                </div>
                                <div class="card-item">
                                    <h4>Description:</h4>
                                    <p>@Html.Raw(studioDetail.Description)</p>
                                </div>
                                <div class="card-item">
                                    <h4>Intro Description:</h4>
                                    <p>@Html.Raw(studioDetail.IntroDescription)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <a asp-action="index" class="btn btn-info"><i class="fas fa-arrow-left"></i> Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

