@model Studio
@{
    ViewData["Title"] = "Update company information";
}

<div class="section-header">
    <h1>Update company information</h1>
</div>
<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Title">Title</label>
                            <input asp-for="Title" class="form-control" placeholder="Title">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description">Description</label>
                            <textarea asp-for="Description" class="form-control" rows="4" placeholder="Description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Banner.Title">Banner Title</label>
                            <input asp-for="Banner.Title" class="form-control" placeholder="Banner Title">
                            <span asp-validation-for="Banner.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Banner.Description">Banner Description</label>
                            <textarea asp-for="Banner.Description" class="form-control" rows="4" placeholder="Banner Description"></textarea>
                            <span asp-validation-for="Banner.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Photo">Image</label>
                            <input asp-for="Photo" class="form-control" accept="image/*" type="file">
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                        <div>
                            <img src="~/images/@Model.Image" class="img-fluid" id="img-file" style="width: 450px; height: 250px;" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Banner.Photo">Banner Image</label>
                            <input asp-for="Banner.Photo" class="form-control" accept="image/*" type="file">
                            <span asp-validation-for="Banner.Photo" class="text-danger"></span>
                        </div>
                        <div>
                            <img src="~/images/@Model.Banner.Image" class="img-fluid" id="banner-img-file" style="width: 450px; height: 250px;" />
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-warning">Update</button>
                        <a asp-action="index" class="btn btn-info">Cancle</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Description'))
            .catch(error => {
                console.error(error);
            });
        ClassicEditor
            .create(document.querySelector('#StudioDetail_IntroDescription'))
            .catch(error => {
                console.error(error);
            });

        document.querySelector("#Photo").addEventListener("change", function () {
            let img = document.getElementById("img-file");
            img.src = URL.createObjectURL(this.files[0]);
        })

        document.querySelector("#Banner_Photo").addEventListener("change", function () {
            let img = document.getElementById("banner-img-file");
            img.src = URL.createObjectURL(this.files[0]);
        })
    </script>
}

