
@{
    ViewData["Title"] = "Blog detail";
    BlogDetailViewModel blogDetail = Model;
}

<div class="section-header">
    <h1>Game detail</h1>
</div>
<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="container">
                    <div class="detail-content" style="padding-top: 20px; padding-bottom: 20px;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="~/images/@blogDetail.Image" class="img-fluid" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-item">
                                    <h4>Title:</h4>
                                    <p>@blogDetail.Title</p>
                                </div>
                                <div class="card-item">
                                    <h4>Content:</h4>
                                    <p>@Html.Raw(blogDetail.Content)</p>
                                </div>
                                <div class="card-item">
                                    <h4>Creation date:</h4>
                                    <p>@blogDetail.CreationDate.ToString("dd/MM/yyy hh:mm:ss")</p>
                                </div>
                                <div class="card-item">
                                    <h4>Last modification date:</h4>
                                    <p>@blogDetail.LastModificationDate.ToString("dd/MM/yyy hh:mm:ss")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <a asp-action="index" class="btn btn-info"><i class="fas fa-arrow-left"></i> Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

