@model ResetPasswordViewModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Reset password";
}

<div class="card card-primary">
    <div class="card-header"><h4>Reset password</h4></div>
    <div class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form method="POST">
            <div class="form-group">
                <label asp-for="NewPassword">New password</label>
                <input asp-for="NewPassword" class="form-control">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirm password</label>
                <input asp-for="ConfirmPassword" class="form-control">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>

