
@{
    ViewData["Title"] = "Delete platform type";
    PlatformDetailViewModel platform = Model;
}

<div class="section-header">
    <h1>Delete platform type</h1>
</div>
<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="container">
                    <div class="detail-content" style="padding-top: 20px; padding-bottom: 20px;">
                        <div class="card-item">
                            <h4>Name:</h4>
                            <p>@platform.Name</p>
                        </div>
                        <div class="card-item">
                            <h4>Icon:</h4>
                            <p>@Html.Raw(platform.Logo)</p>
                        </div>
                        <div class="card-item">
                            <h4>Icon code:</h4>
                            <p>@platform.Logo</p>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <form method="post">
                            <button class="btn btn-danger">Delete</button>
                            <a asp-action="index" class="btn btn-info">Cancle</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

